.left-molecule{
    width: 483px;
    background-image: url(../../IMAGES/Background-Color.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.cards{
    width: 541px;
    height: 527px;
    top: 187px;
    left: 164px;  
    position: relative;
}
.topCardIMG{
    box-shadow: 0px 39px 60px 0px #00000024;
    position: absolute;
}
.bottomCardIMG{
    width: 447px;
    height: 245px;
    position: absolute;
    top: 282px;
    left: 95px;
    box-shadow: 0px 39px 60px 0px #00000024;
}
.ovals{
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 30px;
}
.CardInformations{
    width: 447px;
    height: 245px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 27px;
}
.CardNumberDiv{
    width: 447px;
    height: 36px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.CardNumber{
    position: absolute;
    font-family: Space Grotesk;
    font-size: 28px;
    font-weight: 500;
    line-height: 35.73px;
    letter-spacing: 3.422222137451172px;
    color: white;
}
.CardHolderDiv {
    width: 380px;
    height: 18px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.CardNameDiv{
    width: 50px;
    height: 18px;
}
.CardName{
    position: absolute;
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.86px;
    letter-spacing: 2px;
    color: white;
}
.Data {
    width: 50px;
    height: 18px;
    display: flex;
}
.CardMonth{
    color: white;
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.86px;
    letter-spacing: 2px;
}
.dashh{
    color: white;
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.86px;
    letter-spacing: 2px;
}
.CardYear{
    color: white;
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.86px;
    letter-spacing: 2px;
}
.bottomCard{
    width: 447px;
    height: 245px;
    margin-top: 37px;
    margin-left: 95px;
}
.cvc{
    position: absolute;
    margin-top: 112px;
    margin-left: 360px;
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.86px;
    letter-spacing: 2px;
    color: white;
}
@media screen and (max-width:1200px) {
    .left-molecule{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 240px;
    }
    .cards{
        width: 375px;
        height: 240px;
        top: 0px;
        left: 0;
    }
    .bottomCardIMG{
        width: 286px;
        height: 157px;
        top: 32px;
        left: 73px;
        z-index: 0;
    }
    .topCardIMG{
        width: 286px;
        height: 157px;
        top: 126px;
        left: 16px;
        z-index: 1;
    }
    .ovals{
        width: 54px;
        height: 30px;
        top: 150px;
        left: 40px;   
    }
    .cvc{
        margin: 0;
        margin-top: -183px;
        margin-left: 300px;
        position: relative;
        z-index: 2;
        font-family: Space Grotesk;
        font-size: 9px;
        font-weight: 500;
        width: 10px;
    }
    .CardInformations{
        align-items: center;
        width: 280px;
        position: relative;
        z-index: 2;
        margin-top: 40px;
    }
    .CardNumberDiv{
        width: 290px;
        margin: 0;
        padding-left: 40px;
        padding-top: 0px;
        padding-bottom: 20px;
        display: block;
    }
    .CardNumber{
        font-family: Space Grotesk;
        font-size: 16px;
        font-weight: 500;
    }
    .CardHolderDiv{
        width: 270px;
        padding-top: 20px;
        padding-left: 20px;
        margin-left: 30px;
    }
    .CardName{
        font-family: Space Grotesk;
        font-size: 9px;
        font-weight: 500;
    }
    .CardMonth{
        font-family: Space Grotesk;
        font-size: 9px;
        font-weight: 500;
    }
    .dashh{
        font-family: Space Grotesk;
        font-size: 9px;
        font-weight: 500;
    }
    .CardYear{
        font-family: Space Grotesk;
        font-size: 9px;
        font-weight: 500;
    }
    .bottomCard{
        margin: 0;
        width: 100px;
    }
}